* {
  margin: 0;
  padding: 0;
}
.navbar {
  border: none;
  color: #61122f;
}
body {
  background-color: #61122f;
  color: white;
}
.glyphicon {
  font-size: 30px;
  color: yellow;
  text-align: center;
}

.center {
  width: 90%;
  background-color: grey;
}
.container {
  background-color: grey;
}
.text-center {
  font-size: 30px;
  color: green;
}

h2 {
  text-align: center;
}
#myNavbar ul li a {
  color: yellow;
  text-align: center;
}
.navbar-brand {
  font-size: 30px;
}
